{% extends "base.html" %}

{% block content %}
<style>
    .error { color: red; }
</style>
<h1>Signup</h1>
<form method='POST'>
    <table>
        <tr>
            <td><label>Username</label></td>
            <td><input name ="username" type="text" value="{{username}}" /></td>
            <td><p class="error">{{username_error}}</p></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input name="password" type="password" value="{{password}}" /></td>
            <td><p class="error">{{password_error}}</p></td>
        </tr>
        <tr>
            <td><label>Verify Password</label></td>
            <td><input name="confirm" type="password" value="{{confirm}}" /></td>
            <td><p class="error">{{confirm_error}}</p></td>
        </tr>
        <tr>
            <td><label>Email (optional)</label></td>
            <td><input name="email" type="text" value="{{email}}" /></td>
            <td><p class="error">{{email_error}}</p></td>
        </tr>
    </table>
    <input type="submit">
</form>

{% endblock %}